@tailwind base;
@tailwind components;
@tailwind utilities;

/* .glassmorphic-container {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
} */

html,
body {
  overflow-x: hidden;
}

#root {
  overflow: hidden !important;
}
.hide {
  overflow-y: hidden !important;
}
.background {
  background-image: url(../../backend/uploads/picture\ 1.png);
}
.toast {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  margin: 20px;
  padding: 10px 20px;
  background-color: rgba(76, 175, 80, 0.9);
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.toast-show {
  opacity: 1;
}

.toast-hide {
  opacity: 0;
}
